<h4 style="color:black;">Alignment Values</h4>
<table style="background-color:white; width:40%" class="table-bordered table-responsive table-condensed">
  <tr>
    <td style="color:grey;">Match</td>
    <td style="color:black"><input type="number" id="matchValue" value="1" name="matchValue" min="-50" max="50" class="number-input"></td>
  </tr>
  <tr>
    <td style="color:grey;">Mismatch</td>
    <td style="color:black"><input type="number" id="mismatchValue" value="-1" name="mismatchValue" min="-50" max="50" class="number-input"></td>
  </tr>
  <tr>
    <td style="color:grey;">Gap</td>
    <td style="color:black"><input type="number" id="gapValue" value="-2" name="gapValue" min="-50" max="50" class="number-input"></td>
  </tr>
</table>
